* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  transition: all 0.3s;
}

:root {
  --text-color: white;
  --make-it-whiter: black;
  --make-it-black: white;
  --stroke-color: rgba(255, 255, 255, 0.2);
  --button-color: rgba(0, 0, 0, 1);
  --whitelight: white;
  --socialshover: rgba(255, 255, 255, 0.5);
}

.light {
  --text-color: black;
  --make-it-whiter: white;
  --make-it-black: black;
  --stroke-color: black;
  --stroke-color-highlight: rgba(255, 255, 255, 0.7);
  --button-color: rgba(97, 97, 97, 0.5);
  --whitelight: white;
  --socialshover: rgba(0, 0, 0, 0.5);
}

#background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -2;
  opacity: 50%;
}
#background2 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  opacity: 0%;
  transition: all 0.3s;
}
.backgroundchange#background2 {
  opacity: 100%;
  transition: all 0.5s;
}

body {
  background: #000;
  min-height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  width: 350px;
  margin: auto;
}
#profile img {
  border-radius: 100%;
  margin-top: 20px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  color: var(--text-color);
  margin-top: 8px;
}

/* Links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

ul li a {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  color: white;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  font-weight: 500;
  transition: background 200ms;
}

ul li a:hover {
  border: 1px solid var(--text-color);
  background: rgba(0, 0, 0, 0.8);
  color: var(--whitelight);
}
#socials {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 29px;
}
#socials a {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px 1px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}

#socials a:hover {
  background: var(--socialshover);
  transition: background 0.2s;
  color: white;
}

footer {
  text-align: center;
  margin-top: 25px;
  font-weight: 500;
  color: var(--text-color);
}
footer a {
  text-decoration: none;
  color: transparent;
  padding: 10px;
  background-color: transparent;
  border-radius: 100px;
  transition: all 0.1s;
  line-height: 60px;
  opacity: 100%;
  border: 1px solid var(--text-color);
}

footer a:hover {
  color: var(--make-it-whiter);
  background-color: var(--make-it-black);
}
